*.o
*.so
*.bpkg
*.pyc
*.so
.history
__pycache__/**
.vscode
examples
spark
tpcds-kit
test_server
.deps
bao_server
examples/workloads/imdb/*.csv
*.tgz
baihe_lib/bao/bao_model/*
pg_hint_plan-REL13_1_3_8
REL13_1_3_8.tar.gz
baihe_lib/Lero/data/*
baihe_lib/Lero/lero_model/stats/*
baihe_lib/Lero/lero_model/stats_0/*
baihe_lib/deepdb/models/*